
*{
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
   }
   body {
       background: rgb(0, 0, 0);
       min-height: 100vh;
       
   }
   
     
   
   header{
       text-align: center;
       background: rgb(255, 0, 0);
       height: 100px;
       
       animation: move 1s linear infinite forwards;
    
          
   }
   header::before {
       content: "";
       position: fixed;
       top: 200px;
       left: 1200px;
       height: 700px;
       width: 700px;
       background: rgb(255, 0, 200);
       filter: blur(750px);
     }
   header::after {
       content: "";
       position: fixed;
       top: 200px;
       left: 40px;
       height: 700px;
       width: 700px;
       background: rgb(98, 0, 255);
       filter: blur(750px);
   }
   
   .inicio{
       text-decoration: none;
       font-size: 80px;  
       color: rgb(255, 255, 255);
    
   }
   .temp-text{
   
       font-size: 50px;
       color: rgb(255, 255, 255);
   }
.x1{
    /*position*/
    position: absolute;  
    left: 90px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x2{
    /*position*/
    position: absolute;  
    left: 220px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x3{
    /*position*/
    position: absolute;  
    left: 350px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x4{
    /*position*/
    position: absolute;  
    left: 480px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x5{
    /*position*/
    position: absolute;  
    left: 610px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x6{
    /*position*/
    position: absolute;  
    left: 740px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x7{
    /*position*/
    position: absolute;  
    left: 870px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x8{
    /*position*/
    position: absolute;  
    left: 1000px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x9{
    /*position*/
    position: absolute;  
    left:1130px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x10{
    /*position*/
    position: absolute;  
    left:1260px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x11{
    /*position*/
    position: absolute;  
    left:1390px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x12{
    /*position*/
    position: absolute;  
    left:1520px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x13{
    /*position*/
    position: absolute;  
    left:1650px;
    top: 200px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x14{
    /*position*/
    position: absolute;  
    left: 90px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x15{
    /*position*/
    position: absolute;  
    left: 220px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x16{
    /*position*/
    position: absolute;  
    left: 350px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x17{
    /*position*/
    position: absolute;  
    left: 480px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x18{
    /*position*/
    position: absolute;  
    left: 610px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x19{
    /*position*/
    position: absolute;  
    left: 740px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x20{
    /*position*/
    position: absolute;  
    left: 870px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x21{
    /*position*/
    position: absolute;  
    left: 1000px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x22{
    /*position*/
    position: absolute;  
    left:1130px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x23{
    /*position*/
    position: absolute;  
    left:1260px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x24{
    /*position*/
    position: absolute;  
    left:1390px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x25{
    /*position*/
    position: absolute;  
    left:1520px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x26{
    /*position*/
    position: absolute;  
    left:1650px;
    top: 320px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x27{
    /*position*/
    position: absolute;  
    left: 90px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x28{
    /*position*/
    position: absolute;  
    left: 220px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x29{
    /*position*/
    position: absolute;  
    left: 350px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x30{
    /*position*/
    position: absolute;  
    left: 480px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x31{
    /*position*/
    position: absolute;  
    left: 610px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x32{
    /*position*/
    position: absolute;  
    left: 740px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x33{
    /*position*/
    position: absolute;  
    left: 870px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x34{
    /*position*/
    position: absolute;  
    left: 1000px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x35{
    /*position*/
    position: absolute;  
    left:1130px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x36{
    /*position*/
    position: absolute;  
    left:1260px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x37{
    /*position*/
    position: absolute;  
    left:1390px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x38{
    /*position*/
    position: absolute;  
    left:1520px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}
.x39{
    /*position*/
    position: absolute;  
    left:1650px;
    top: 440px;

    width: 120px;
    height: 90px;


    /*visual*/
     background-image: url(https://w0.peakpx.com/wallpaper/981/197/HD-wallpaper-chiquinha-chaves-chavo-del-ocho-chespirito-chilindrina.jpg);
     background-size: cover;
     background-position-x: center;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 12%;
     
   
    /* text */
    text-decoration: none;
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 40px; 
    color: rgb(255, 0, 21);
    text-align: center;
    text-shadow: 1px 3px  black ;
   
}