*{
    margin: 0;
    padding: 0;
    
   
}
.inicio{
      font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
      font-size: 80px;
      text-align: center;
      text-decoration: none;
      color: black;
      display: block;
  
      
      
      
    
}

.background-img{
    background-image: url('https://images.wallpaperscraft.com/image/single/landscape_mountains_sun_140434_3840x2400.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    z-index: 0;

  
   
    
}

.caja1{
    position: relative;
    display: inline-block;
    margin: auto;
     left: 90px;
     top: 50px;
    width: 200px;
    height: 400px;
    border: 2px solid crimson;
    overflow: hidden;
     background-position-x: center;
     background-image: url(https://i.pinimg.com/originals/cd/53/d6/cd53d614c1627d918d2147903a3c02f5.jpg);
     background-size: cover;
     padding: 0px;
     filter: brightness(0.5);
    
    
  
     
    

}   
.caja1:hover{
    position: relative;
    display: inline-block;
    margin: auto;
     left: 90px;
     top: 50px;
    width: 200px;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden;
     background-position-x: center;
     background-image: url(https://i.pinimg.com/originals/cd/53/d6/cd53d614c1627d918d2147903a3c02f5.jpg);
     background-size: cover;
     padding: 0px;
     filter: brightness(1);
     transition: 2s all;
    
  

}         

.text-1{
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 50px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 0, 55);
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 196px;
    height: 246px;
    padding-top: 150px;
    opacity: 0.5;
   
}
    
.text-1:hover
{
        font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
        font-size: 50px;
        border: 2px solid rgb(255, 0, 64);
        color: rgb(255, 0, 55);
        text-align: center;
        text-decoration: none;
        position: relative;
        display: inline-block;
        top: 0px;
        left: 0px;
        width: 196px;
        height: 246px;
        padding-top: 150px;
        opacity: 1;
        transition: 2s all;
    }
       
         
    
    

    

    
    
   
    


    
    
    
    
   

   

