*{
    margin: 0;
    padding: 0;
    
   
}
.nav{
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: block;
    background-color: orangered;
    height: 100px;
       
}
.inicio{
    text-decoration: none;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: block;
   

 
} 





.background-img{
    background-image: url('https://images.wallpaperscraft.com/image/single/landscape_mountains_sun_140434_3840x2400.jpg');
    background-size: cover;
    background-attachment: fixed;

    display: inline-block;
    height: 100em;
    width: 100em;
    overflow: hidden;
    background: fixed;
    background-color: rgb(12, 12, 12);
}

.x1{
    position: absolute;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
     
    width: 40px;
    height: 40px;
    left: 90px;
    top: 120px;

    border: 2px solid rgb(255, 74, 74);
    border-radius: 100%;
    background-color: rgb(15, 15, 15);
    object-fit: cover;
}
.tex1{
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 30px; 
    color: rgb(255, 44, 44);
    text-align: center;
    text-decoration: none;
  
    display: block;
  
}
.x2{
    position: absolute;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
     
    width: 40px;
    height: 40px;
    left: 140px;
    top: 120px;

    border: 2px solid rgb(255, 74, 74);
    border-radius: 100%;
    background-color: rgb(15, 15, 15);
    object-fit: cover;
}
.tex2{
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 30px;
  
    color: rgb(255, 44, 44);
    text-align: center;
    text-decoration: none;
  
    display: block;
}
.x3{
    position: absolute;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
     
    width: 40px;
    height: 40px;
    left: 190px;
    top: 120px;

    border: 2px solid rgb(255, 74, 74);
    border-radius: 100%;
    background-color: rgb(15, 15, 15);
    object-fit: cover;
}
.tex3{
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 30px;
  
    color: rgb(255, 44, 44);
    text-align: center;
    text-decoration: none;
  
    display: block;
}
.x4{
    position: absolute;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
     
    width: 40px;
    height: 40px;
    left: 240px;
    top: 120px;

    border: 2px solid rgb(255, 74, 74);
    border-radius: 100%;
    background-color: rgb(15, 15, 15);
    object-fit: cover;
}
.tex4{
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 30px;
  
    color: rgb(255, 44, 44);
    text-align: center;
    text-decoration: none;
  
    display: block;
}
.x5{
    position: absolute;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
     
    width: 40px;
    height: 40px;
    left: 290px;
    top: 120px;

    border: 2px solid rgb(255, 74, 74);
    border-radius: 100%;
    background-color: rgb(15, 15, 15);
    object-fit: cover;
}
.tex5{
    font-family: 'Bebas Neue', Arial, Helvetica,sans-serif;
    font-size: 30px;
  
    color: rgb(255, 44, 44);
    text-align: center;
    text-decoration: none;
  
    display: block;
}
